body {
}
.tablebtn {
    text-transform: uppercase;
    font-size: 1vw;
    padding: 1%;
    margin-right: 2%;
    border: none;
    border-width: 10px;
    border-color: rgb(150,60,60);
    cursor: pointer;
    background: rgb(150,60,60);
    color: #fff;
    min-width: 30%;
}
.tablebtn2 {
    text-transform: uppercase;
    font-size: 1vw;
    padding: 1%;
    margin-right: 2%;
    border: none;
    cursor: pointer;
    background: rgb(150,60,60);
    color: #fff;
    min-width: 25%;
}


.tablebtn2:hover {
    animation: bounce2 .5s;
}

@keyframes bounce2 {
    50% {
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
    }

    50% {
        transform: translateY(3px);
        -webkit-transform: translateY(3px);
    }
}
