.containerChat {
    margin: auto;
    padding: 0;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}
    .containerChat i {
        float: left;
        font-size: 2vw;
        margin: 1%;
    }
    .containerChat span {
        font-size: 1.2vw;
        margin-right: 15px;
    }
    .data {
        font-size: 0.9vw;
        margin-right: 15px;
    }
    .coment {
        
    }
.topoComentario {
    display: grid;
    grid-template-columns: 7% 93%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    margin-bottom:2%;
}
.infoComentario {
    padding: 1%;
    display: grid;
    background-color: rgb(110,110,255);
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}
.Info {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    border-bottom: 1px black solid;
}
.navbar{
    display:flex;
    flex-wrap:nowrap;
}