.mid {
    margin:auto;
    margin-top:2%;
    max-width: 50%;
    padding:2%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.descricao{
    float:left;
    text-decoration:none;
    
}
    .descricao a {
        color: black;
    }
.data_hora{
float:right;
text-decoration:none;
}
    .data_hora a{
        color: rgb(150,60,60);
    }
.sec-mid {
    margin: auto;
    margin-top: 2%;
    max-width: 90%;
    padding: 2%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.11), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.text {
    border-radius: 4px;
    padding: 0.5%;
    font-size: 0.8vw;
    min-width: 24%;
    max-width: 90%;
    border-style: solid;
    border-width: 1px;
    border-color: RGB(255,0,0);
    background-color: rgba(255, 255, 255, 0.90);
    color: black;
}
.p {
    border-left-style: solid;
    border-left-color: red;
    border-width: 7px;
    max-width:50%;
    color: rgb(235,235,235);
    padding:1%;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 0px 10px 10px 0px;
    font-size:1.1vw;
}
.addbtn {
    text-transform: uppercase;
    border-radius: 10px;
    font-size:0.8vw;
    padding: 1%;
    margin-right:2%;
    border: none;
    cursor: pointer;
    background: rgba(30,140,30,0.9);
    color: #fff;
    box-shadow: 2px 5px 0 rgba(30,100,30,0.5);
    min-width:25%;
}
.cancelbtn {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1%;
    font-size: 0.8vw;
    border: none;
    cursor: pointer;
    background: rgba(150,30,30,0.8);
    color: #fff;
    box-shadow:  0.1vw 0.25vw 0 rgba(100,30,30,0.9);
    min-width: 12%;
}
.addbtn:hover {
    animation: bounce2 .5s;
}
.cancelbtn:hover {
    animation: bounce2 .5s;
}
@keyframes bounce2 {
    50% {
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
    }

    50% {
        transform: translateY(3px);
        -webkit-transform: translateY(3px);
    }
}