body {
    /*
    background-image: url("background2.png");
    background-size: cover;*/
    background-color: rgb(22, 22, 22);
    font-family: Arial;
}

.menu {
    max-width: 90;
    margin: auto;
    padding: 1%;
}

.logo {
    margin-left: 50%;
}

    .logo a {
        float: left;
        text-decoration: none;
        color: white;
        border-bottom-style: dotted;
        border-bottom-color: red;
        border-width: 1px;
        border-width: medium;
        font-size: 3vw;
    }

.item a {
    float: left;
    text-decoration: none;
    color: white;
    padding: 0.6%;
    margin: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 7px;
    font-size: 1.5vw;
}

.item2 a {
    float: right;
    text-decoration: none;
    color: white;
    padding: 0.6%;
    margin: 10px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 7px;
    font-size: 1.5vw;
}

.cont {
    max-width: 110%;
    background-color: rgba(50,50,50,0.8);
    border-style: solid;
    border-color: white;
    margin-top: 10%;
    border-width: 1px;
    border-radius: 5px;
}

.item a:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    animation: bounce .3s;
}

.item2 a:hover {
    background-color: white;
    color: black;
    transition: all 0.3s ease;
    animation: bounce .3s;
}

.logo a:hover {
    animation: bounce .5s;
}
@keyframes bounce {
    50% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }
}
/* Abrir chamado */

.radios div {
    margin-right: 20px;
    display: inline-block
}

.comboBox {
    margin-top: 10px
}

.Maquinas {
    margin-top: 10px;
}

.machi {
    margin-left: 10px
}

.tomb {
    display: block
}

.desc {
    display: block;
    margin-top: 10px;
}

.buttons {
    margin-top: 10px
}

    .buttons button {
        margin-right: 15px;
    }
