.inputlogin {
    padding: 2%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    border: none;
    background-color: none;
    border-bottom: solid 1px rgb(200,200,200);
    transition: all 0.5s;
}
.rowCadastro {
    width: 100%;
    padding: 1%;
    animation: change ease 0.1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    line-height: 50px;
}

.cadastro {
    padding: 2%;
    width: 80%;
    margin: auto;
    border: none;
    background-color: none;
    border-bottom: solid 1px rgb(200,200,200);
    transition: all 0.5s;
}
    .inputlogin:focus {
        background-color: rgb(220,220,255);
        border-bottom: solid 1px white;
        width: 90%;
        border-radius: 5px;
    }
    .cadastro:focus {
        background-color: rgb(220,220,255);
        border-bottom: solid 1px white;
        width: 90%;
        border-radius: 5px;
    }
.inputtxt {
    display:block;
    padding: 1%;
    width: 50%;
    margin-bottom:3%;
    border: none;
    background-color: rgb(254, 254, 254);
    border-bottom: solid 1px rgb(230,230,255);
    transition: all 0.5s;
}

    .inputtxt:focus {
        border-bottom: solid 1px rgb(200,200,255);
        width: 90%;
    }
.imagefix {
    max-width: 30%;
}
.inputtext {
    width: 50%;
    border: none;
    background-color: rgb(240,240,240);
    border-bottom: rgb(240,240,240) solid 1px;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 8%;
    box-sizing: border-box;
    transition: all 0.3s linear 0.2s;
}
    .inputtext:focus {
        background-color: rgb(250,250,250); 
        border-bottom: rgb(0,0,0) solid 1px;
    }

.inputtextDrop {
    width: 10%;
    border: none;
    background-color: rgb(230,230,230);
    border-bottom: rgb(240,240,240) solid 1px;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 8%;
    box-sizing: border-box;
    transition: all 0.3s linear 0.2s;
}

    .inputtextDrop:first-of-type:focus {
        background-color: rgb(250,250,250);
        width: 40%;
        border-bottom: rgba(255,0,0,0.3) solid 1px;
    }

.inputtext:focus {
    background-color: white;
    border-bottom: rgba(255,0,0,0.3) solid 1px;
}
.btnplace {
    background-color: rgb(245,245,245);
    margin: 2%;
}

.inputsearch {
    padding: 1%;
    display: inline-block;
    width: 30%;
    border-radius:5px;
    margin: auto;
    border: none;
    background-color: rgb(250, 250, 253);
    border-bottom: solid 1px white;
    transition: all 0.5s;
    resize: none;
}
    .inputsearch:focus {
        background-color: rgb(220, 220, 253);
    }

.inputsearch2 {
    padding: 1%;
    display: inline-block;
    width: 100%;
    margin: auto;
    margin-bottom:1%;
    border: none;
    background-color: rgb(240, 240, 253);
    border-bottom: solid 1px white;
    transition: all 0.5s;
    resize: none;
}
    .inputsearch2.inputToAdd:focus {
        background-color: rgb(220, 220, 253);
    }
.ch{
    margin-right:37%;
}
.invert {
    margin-left: 37%;
}

    .inputsearch2:focus {
        background-color: rgb(251,251,251);
        border-bottom: solid 1px white;
        border-radius: 5px;
    }
.inputsearch2:focus {
    background-color: rgb(251,251,251);
    border-bottom: solid 1px white;
    border-radius: 5px;
}

.searchplace {
    margin:2%;
    margin-top: 1%;
    padding-bottom: 2%;
    border-bottom: solid 1px rgb(210, 210, 255);
}

.nobar {
    border-bottom: none;
}

.toright {
    text-align: right;
}

.alerta{
    padding:1%;
    border-radius:4px;
    width:100%;
}












@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.search{
    background-color:rgb(230,230,230);
    border-radius:5px;
    padding:1%;
    width:30%;
    color:rgb(100,100,100);
}
.searchbar {
    background-color: rgb(230,230,230);
    border-radius: 5px;
    min-width: 90%;
    border:none;
}
.searchbar:focus{
}
.menuadicao {
    margin: 2% 10% 0% 10%;
}
.btn.adicao{
    width:20%;
}
.article {
    width:46%;
    background-color: rgb(250,250,250);
    border-radius: 0px 0px 5px 5px;
    float:left;
    text-align:unset;
    margin:2%;
}
.labtext{
    text-align:center;
    padding:1%;
}
.text {
    font-size: 0.8vw;
    color:rgb(100,100,100);
    font-family: 'Roboto', sans-serif;
    text-transform: unset;
    text-align: unset;
    text-align: unset;
}
.iconColorFix {
    color: rgb(150,150,150);
}
.status{
    background-color:rgb(240,240,240);
    display:block;
    font-size:0.6vw;
    margin-top:3%;
    margin:0%;
    color:black;
    border-radius:5px;
    text-align:center;
}
.chamadoid{
    display:unset;
}
.resu {
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    height: 80px;
    border-bottom: solid 1px rgba(255,0,0,0.1);
}
.resumo{
    font-size:1vw;  
}
input:focus{
    outline:none !important;
}
.resu::-webkit-scrollbar {
    width: 0px;
}