body {
    font-family: Arial;
    font-weight: bold;
    background-color: rgb(33, 33, 33);
    font-size: 100%;
}
.itemimg{
    float:left;
}
.itemimg img{
    max-width:30%;
}
.menu{
    padding:1%;
    max-width:80%;
    margin:auto;
}
/*
.clearfix{
    content:"";
    display:table;
    clear:both;
}
*/

.item a {
    float: left;
    padding: 10px;
    cursor: pointer;
    color: white;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
}

.item2 a {
    float: left;
    padding: 10px;
    cursor: pointer;
    color: red;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: red;
    border-radius: 15px;
}

.item a:hover {
    border-style: solid;
    border-color: black;;
    background-color:white;
    color:black;
}

.item2 a:hover {
    border-style: solid;
    border-color: black;
    background-color: white;
    color: red;
}

.btn {
    background: none;
    border-radius: 8px;
    color: white;
    font-size: 150%;
    text-decoration: none;
    border: 1px solid white;
    padding: 2% 20%;
    margin: 1%;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;
}


    .btn:hover {
    }

/* Abrir chamado */

.radios div {
    margin-right: 20px;
    display: inline-block
}

.comboBox {
    margin-top: 10px
}

.Maquinas {
    margin-top: 10px;
}

.machi {
    margin-left: 10px
}

.tomb {
    display: block
}

.desc {
    display: block;
    margin-top: 10px;
}

.buttons {
    margin-top: 10px
}

    .buttons button {
        margin-right: 15px;
    }
