body {
    font-family: Arial;
    font-weight: bold;
    background-color: RGB(240,240,240);
    font-size:100%;
}
.menu {
   margin-top:2%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width:60%;
    margin:auto;
}
.item a{
    float:left;
    padding: 2%;
    cursor:pointer;
    border-top-style:solid;
    border-top-color:white;
}
.item2 a {
    float: right;
    padding: 2%;
    cursor: pointer;
    border-top-style: solid;
    border-top-color: RGB(230,230,230);
    background-color: RGB(230,230,230);
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.item a:hover {
    border-top-style: solid;
    border-top-color: red;
}
.item2 a:hover {
    background-color: RGB(220,220,220);
    border-top-style: solid;
    border-top-color: RGB(220,220,220);
} 

.btn {
    background: none;
    border-radius: 8px;
    color: white;
    font-size: 150%;
    text-decoration: none;
    border: 1px solid white;
    padding: 2% 20%;
    margin: 1%;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    cursor: pointer;
}


.btn:hover {
}

/* Abrir chamado */

.radios div{
    margin-right: 20px;
    display: inline-block
}

.comboBox{
    margin-top: 10px
}

.Maquinas {
    margin-top: 10px;
}

.machi{
    margin-left: 10px
}

.tomb{
    display: block
}

.desc{
    display: block;
    margin-top: 10px;
}

.buttons {
    margin-top: 10px
}

.buttons button{
    margin-right: 15px;
}