.inputlogin {
    display: block;
    padding: 2%;
    width: 80%;
    margin: auto;
    margin-top: 10%;
    border: none;
    background-color: rgb(240, 240, 253);
    border-bottom: solid 1px white;
    transition: all 0.5s;
}

    .inputlogin:focus {
        background-color: rgb(251,251,251);
        border-bottom: solid 1px white;
        width: 100%;
        border-radius: 5px;
    }
.imagefix {
    max-width: 30%;
}
.inputtext {
    width: 50%;
    border: none;
    background-color: rgb(240,240,240);
    border-bottom: rgb(240,240,240) solid 1px;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 8%;
    box-sizing: border-box;
    transition: all 0.3s linear 0.2s;
}
    .inputtext:focus {
        background-color: rgb(250,250,250); 
        border-bottom: white solid 1px;
    }

.inputtextDrop {
    width: 10%;
    border: none;
    background-color: rgb(230,230,230);
    border-bottom: rgb(240,240,240) solid 1px;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 8%;
    box-sizing: border-box;
    transition: all 0.3s linear 0.2s;
}

    .inputtextDrop:first-of-type:focus {
        background-color: rgb(250,250,250);
        width: 40%;
        border-bottom: rgba(255,0,0,0.3) solid 1px;
    }

.inputtext:focus {
    background-color: white;
    border-bottom: rgba(255,0,0,0.3) solid 1px;
}
















@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
.search{
    background-color:rgb(230,230,230);
    border-radius:5px;
    padding:1%;
    width:30%;
    color:rgb(100,100,100);
}
.searchbar {
    background-color: rgb(230,230,230);
    border-radius: 5px;
    min-width: 90%;
    border:none;
}
.searchbar:focus{
}
.inputtext {
    width: 50%;
    border: none;
    background-color: rgb(240,240,240);
    border-bottom: rgb(240,240,240) solid 1px;
    border-radius: 5px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 8%;
    box-sizing: border-box;
    transition: all 0.3s linear 0.2s;
}
.menuadicao {
    margin: 2% 10% 0% 10%;
}
.btn.adicao{
    width:20%;
}
.botaoadd {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    float: left;
    min-width: 25%;
    text-decoration: none;
    color: black;
    background-color: white;
    border: rgba(255,0,0,0.3) 1px solid;
    border-radius: 5px;
    padding: 2% 10% 2% 10%;
    font-size: 0.8vw;
    cursor: pointer;
    margin-right: 2%;
    margin-bottom: 2%;
}
.article {
    width:46%;
    background-color: rgb(250,250,250);
    border-radius: 0px 0px 5px 5px;
    float:left;
    text-align:unset;
    margin:2%;
}
.labtext{
    text-align:center;
    padding:1%;
}
.text {
    font-size:0.8vw;
    text-transform: uppercase;
    margin: 5% 5% 1% 5%;
    text-align: unset;
    text-align: unset;
    display: block;
}
.status{
    background-color:rgb(240,240,240);
    font-size:0.6vw;
    margin-top:3%;
    margin:0%;
    color:black;
    border-radius:5px;
    text-align:center;
}
.chamadoid{
    display:unset;
}
.resu {
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    height: 80px;
    border-bottom: solid 1px rgba(255,0,0,0.1);
}
.resumo{
    font-size:1vw;  
}
input:focus{
    outline:none !important;
}
.resu::-webkit-scrollbar {
    width: 0px;
}