.mid {
    margin:auto;
    margin-top:5%;
    max-width: 70%;
    padding:2%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.text {
    border-radius: 4px;
    padding: 1%;
    font-size: 1vw;
    min-width: 30%;
    max-width:90%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    background-color: rgba(255, 255, 255, 0.90);
    color: black;
}
p {
    border-left-style: solid;
    border-left-color: red;
    border-width: 7px;
    max-width:30%;
    color: white;
    padding:1%;
    background-color: rgba(255, 0, 0, 0.25);
    border-radius: 0px 10px 10px 0px;
    font-size:1.2vw;
}
.addbtn {
    text-transform: uppercase;
    border-radius: 10px;
    font-size:1.3vw;
    padding: 1%;
    border: none;
    cursor: pointer;
    background: rgba(30,140,30,0.9);
    color: #fff;
    box-shadow: 2px 5px 0 rgba(30,100,30,0.5);
    min-width:49%;
}
.cancelbtn {
    text-transform: uppercase;
    border-radius: 10px;
    padding: 1%;
    font-size: 1.3vw;
    border: none;
    cursor: pointer;
    background: rgba(150,30,30,0.8);
    color: #fff;
    box-shadow: 2px 4px 0 rgba(140,30,30,0.5);
    min-width: 49%;
}

