.containerChat {
    margin:auto;
    padding:0;
    width:95%;
    display:flex;
    flex-wrap: nowrap;
    flex-direction:column;

}
    .containerChat i {
        float: left;
        font-size: 2vw;
        margin: 1%;
    }
    .containerChat span {
        font-size: 1.2vw;
        margin-right: 15px;
    }
    .data {
        font-size: 0.9vw;
        margin-right: 15px;
    }
    .coment {
        font-size: 0.9vw;
        margin-top:1%;
        word-break:break-all;
        overflow:auto;
        
    }


