.container {
    width: 60%;
    margin: auto;
    margin-top: 1%;
}
.left-chamados {
    float: left;
    width:70%;
}
.left-chamados  .content {
    background-color:white;
    height:500px;
    text-align:center;
}
.rigth-chamados {
    float: left;
    width: 17%;
    margin-left:1%;
}
.content2 {
    background-color: white;
    height: 200px;
    text-align:center;
}
.chamados2 {
    max-width: 20%;
    margin-top:0%;
    height: 400px;
    float:left;
    text-align: center;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 0.5%;
}
    .chamados2 .sub {
        float: left;
        max-width: 40%;
        height: 200px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    }
@media only screen and (max-width: 800px) {
    .chamados{
        background-color: red;
    }
    .container {
        max-width:700px;
        margin-top: 5%;
    }
    .menu2 {
        max-width:100%;
    }
    .logo a{
        font-size: 5vw;
    }
}


.atencao {
    color:red;
}