<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration> 
  
  <!--<connectionStrings>
    <add name="ColabConnectionString" connectionString="Data Source=10.21.0.137;Initial Catalog=2019Colab;User ID=2019Colab;Password=Ifrn-2019"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>-->    

 <!--
  <connectionStrings>
    <add name="ColabConnectionString" connectionString="Data Source=DESKTOP-NVAG972\SQLEXPRESS01;Initial Catalog=Colab;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>  
    

   <connectionStrings>
    <add name="ColabConnectionString" connectionString="Data Source=DESKTOP-DHSOU6A\SQLEXPRESS;Initial Catalog=Colab;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings> -->
  
  <connectionStrings>
        <add name="ColabConnectionString" connectionString="Data Source=.\sqlexpress; Initial Catalog=Colab;User ID=sa;Password=senha" providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="~//WebFormLogin.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="1048576"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
